<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-9">
        <h2>The C3.ai COVID-19 Grand Challenge</h2>
        <p>
          C3.ai invites developers, data scientists, students, and creative minds around the world to build world-class data science techniques and strategies on top of solid, wide-reaching data that drive smart and safe decision making. C3.ai is looking for meaningful data-driven insights to inform decision makers and change how the world is fighting this pandemic.
  
          In the C3.ai COVID-19 Grand Challenge, participants will use the C3.ai COVID-19 Data Lake as one of the key sources of data to produce new and innovative data science projects that help combat the COVID-19 pandemic. It’s time to act. Join the fight against COVID-19 and build for a better tomorrow.  
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-3">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>
  
    <hr>
  
  </div>